@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Fustat:wght@200..800&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.tracker-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #f5f5f5;
}

/* Image container */
.image-container {
  position: relative;
  width: 100vw;
  height: calc(100vw * 300 / 866);
  background: url(/assets/container.png) no-repeat center center;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 3.5vw 5.8vw;
  box-sizing: border-box;
}

/* Stats card - Rectangle 1 */
.stats-card {
  position: relative;
  width: 48%;
  max-width: 80%;
  height: calc(100vw * 85 / 866);
  background: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 0 2.3vw;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 2.3vw;
}

/* Chart container - Rectangle 2 */
.chart-container {
  position: relative;
  width: 100%;
  height: calc(100vw * 159 / 866);
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 2.3vw;
  box-sizing: border-box;
}

/* Monthly label */
.monthly-label {
  position: relative;
  width: auto;
  height: auto;
  font-family: 'Averia Gruesa Libre', serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw * 24 / 866);
  line-height: 1.2;
  color: #7D7C7C;
  white-space: nowrap;
}

/* Monthly count */
.monthly-count {
  position: relative;
  width: auto;
  height: auto;
  font-family: 'Averia Serif Libre', serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw * 24 / 866);
  line-height: 1.2;
  color: #7D7C7C;
  margin-left: 0vw;
}

/* Chart bars - Rectangles 3-11 */
.chart-bar {
  width: calc(100vw * 67 / 866);
  height: calc(100vw * 107 / 866);
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.chart-bar.filled {
  background: #C9CD72;
}

.chart-bar.empty {
  background: #E2E2E2;
}

/* Month selector - Rectangle 12 */
.month-selector {
  box-sizing: border-box;
  position: absolute;
  width: calc(100vw * 50 / 866);
  height: calc(100vw * 29 / 866);
  background: rgba(217, 217, 217, 0.27);
  border: 1px solid #797979;
  border-radius: 5px;
  right: 2.3vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0.6vw;
}

.month-display {
  flex: 1;
}

/* Arrow styles */
.arrow-left,
.arrow-right {
  position: relative;
  width: calc(100vw * 11 / 866);
  height: calc(100vw * 11 / 866);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow-left svg,
.arrow-right svg {
  width: 100%;
  height: 100%;
}

.arrow-left svg {
  transform: rotate(0deg);
}

.arrow-right svg {
  transform: rotate(0deg);
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 0.7;
}
